@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --family: "Nunito Sans", sans-serif;
  --fs-sm: 14px;
}

.page {
  height: 100%;
}

.page-body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--fs-sm);
  font-family: var(--family);
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;

  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  border-radius: 10px;
}


